.custnavbar{
    background-color: orange;
    min-height: 3.25rem;
    position: relative;
    z-index: 30;
}

.color_orange{
    background-color: orange;
}
/*
is-flex is-flex-direction-row is-align-content-center is-justify-content-center*/

.indexThreeParts {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.formrule{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-control{
    background-color: white;
    border: 2px solid #dadada;
    border-radius: 7px;
}

.form-control:focus{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.custcheckbox{
    height: 0;
    width: 0;
    visibility: hidden;
}

.custcheckboxlabel {
    cursor: pointer;
    text-indent: -9999px;
    width: 200px;
    height: 100px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.custcheckboxlabel:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.custcheckbox:checked + .custcheckboxlabel {
    background: #bada55;
}

.custcheckbox:checked + .custcheckboxlabel:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.custcheckboxlabel:active:after {
    width: 130px;
}

@media (max-width: 480px) {
    .indexThreeParts{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}

